body {
    margin-top: 20px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}
header {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center; /* Вертикальное центрирование */
    justify-content: center; /* Горизонтальное центрирование */
    min-height: 100vh; /* Высота на весь экран */
    text-align: center; /* Центрирование текста */
}