<header class="p-3 text-bg-dark">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'catalog:index' %}" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="{% url 'catalog:book-list' %}" class="nav-link px-2 text-white">Books</a></li>
          <li><a href="{% url 'catalog:book-create' %}" class="nav-link px-2 text-white">Create</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"
        method="GET" action="{% url 'catalog:index' %}">
          <div class="input-group mb-3 mt-3">
            {{ form.title }}
            <button class="btn btn-outline-light" type="submit">Search</button>
          </div>
        </form>
{#        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"#}
{#        method="GET" action="{% url 'catalog:index' %}">#}
{#          <div class="input-group mb-3 mt-3">#}
{#            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."#}
{#                   aria-label="Search">#}
{#            <button class="btn btn-outline-light" type="submit">Search</button>#}
{#          </div>#}
{#        </form>#}

        <div class="text-end">
          {% if user.is_authenticated %}
            <a href="{% url 'catalog:index' %}"><button type="button" class="btn btn-outline-light me-2">{{ user.username }}</button></a>
          <a href="{% url 'logout' %}"><button type="button" class="btn btn-warning">Logout</button></a>
          {% else %}
          <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>